* {
  
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.logo {
    padding: 2em;
    border-radius: 100%;
    background-image: url("../images/logo\ tt.png");
    background-size: cover;
    align-content: center;
    background-position: center;
    display: flex;
    border: solid 1px white;
}

header {
    background-color: rgb(41, 35, 58);
    color: rgb(255, 255, 255);
    grid-area: header;
    height: 10vh;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    
}

header ul :hover {
    background-color: rgb(67, 54, 117);
}

header nav {
    display: flex;
    justify-content: right;
    width: 90%;
    color: rgb(74, 63, 49);
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;


}

header li {
    color: rgb(255, 255, 255);
    background-color: rgba(159, 130, 91, 0);
    border-radius: 20px;
    padding: 10px;
}

main {
    background-color: rgb(49, 49, 70);
    color: aliceblue;
    grid-area: main;
    background: 
    linear-gradient(rgba(5, 5, 45, 0.614), rgba(11, 30, 97, 0.686)),
    url('../images/SPBR_0309_ataliba_031-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.linha nav {
    height: 700px;
    width: 100px;
    background-color: black;
}

footer {
    background-color: rgb(17, 18, 30);
    color: aliceblue;
    grid-area: footer;
    height: 25vh;
}

footer li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    display: flex;
    transition: 1s;
}

.login {
    height: 30rem;
    width: 34rem;
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 63px;
    padding: 2em;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login form {
    padding: 0.4rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

input {
    color: white;
    border-radius: 100px;
    border-color: aliceblue;
    border: 0px solid;
    height: 3em;
    width: 100%;
    text-indent: 2em;
    background-color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
    font-size: 100%;
}

.botao {
    text-indent: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(142, 12, 171);
    transition: 0.5s ease-in-out;
}

.botao:hover {
    letter-spacing: 0.05em;
    background-color: rgb(55, 13, 83);
}

.login h1 {
    color: aliceblue;
    font-size: 2em;
    background-repeat: no-repeat;
}

h2{
    font-size: 100px;
    color: blueviolet;
    margin-left: 100px;
}
.h2{
    font-size: 70px;
    padding-left: 900px;
    padding-top:100px;
}

.hp´{
    color: rgb(255, 255, 255);
    font-size: 70px;
    padding-left: 900px;
    padding-top:100px;   
}
