* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: rgb(255, 255, 255);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10,9vh ;
    grid-template-areas:  
    "header header" 
    "main main"
    "footer footer";
}
.logo{
    padding: 42px;
    margin: 11vh;
    border-radius: 100%;
    background-image: url(30.jpg);
    background-size: cover;
    align-content: center;
    background-position: center;
    display: flex;
}

header {
    background-color: rgb(130, 143, 137);
    color: rgb(255, 255, 255);
    grid-area: header;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    
    
}
header ul :hover{
    background-color: rgb(51, 85, 88);
}
header nav {
    display: flex;
    justify-content: right;
    width: 90%;
    color: rgb(74, 63, 49);
    padding: 290px;
    
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    
    
}
header li{
    color: rgb(255, 255, 255);
    background-color: rgba(159, 130, 91, 0);
    border-radius: 20px;
    padding: 10px;
}
h1{
font-size: 26px;
color: rgb(255, 255, 255);


}
main {
    background-color: rgb(23, 28, 41);
    color: aliceblue;
  grid-area: main;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.linha nav{
    height: 700px;
    width: 100px;
    background-color: black;
}

aside{
    background-color: rgb(117, 96, 49);
    color: aliceblue;
    height: 1021px;
    grid-area: aside;
    background-image: url(WhatsApp\ Image\ 2023-04-26\ at\ 08.33.07.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 1;
}

footer{
    background-color:rgb(200, 198, 198);
    background-image: url(adele\ dundo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: footer;
    height:  240px;
    padding: 100px;
    
}
footer nav{
    display: flex;
    width: 90%;
    color: aliceblue;
    
    
    
    
}
footer nav ul{
  display: flex;
  
}
footer li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    border-radius: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    display: flex;
    transition: 1s;
}
footer:hover{
    background-color: rgba(240, 248, 255, 0.777);
}
h3{
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    padding-top: 600px;
    padding-left: 100px;
}

.login {
    height: 40vh;
    width: 30vh;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 63px;
    padding:1em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   ;
}

.login form {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:start;
    align-items: start;
    gap: 1em;
}

input{
    border-radius: 100px;
    border-color: aliceblue;
    border: 0px solid;
    height: 3em;
    width: 100%;
    text-indent: 2em;
    background-color: rgba(255, 255, 255, 0.384);
    cursor: pointer;
}

.botao {
    text-indent: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 72, 74);
}

.botao:hover{
    background-color: rgb(120, 102, 66);
}
.login h1{
    color: aliceblue;
    font-size: 30px;
}

.albums{
text-align: center;
display: flex;
list-style-type: none;
display: flex;
justify-content: center;
gap: 10em;
}

footer li{
    margin: 100px;
    padding: 100px;
}
.blocos1{
    height: 300px;
    width: 250px;
    background-color: brown;
    justify-content: end;
    gap: 10em;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0px;
    margin: 0px;
    background-image: url(adelaide\ lacradora.webp);
    background-position: 250px;
    background-size: cover;

    
}