<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GRID</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="../global.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header>
    <div class="logo"> </div>
    <h1>PEDRO DE MORAES VICTOR</h1>
    <nav>
      <ul>
        <li>Casa</li>
        <li>Opções</li>
        <li>Explorar</li>
        <li>Comunidade</li>
        <% if (session) { %>
          <li>Meu Perfil</li>
        <% } else {%>  
        <li><a href="/logup">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <main>
    <h2>SEJA BEM VINDO AO SITE SCHOOL</h2>

  </main>

  <footer>
    <ul class="albuns">
        <li><img src=""></li>
        <li><img src=""></li>
        <li><img src=""></li>
    </ul>
  </footer>
</body>

</html>