<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GRID</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="container">
    <header>
      <div class="logo"> </div>
      <h1>SITE ESCOLA</h1>
      <nav>
        <ul>
          <li>home</li>
          <li>prof</li>
          <li>style</li>
          <li>coffe</li>
        </ul>
      </nav>
    </header>


    <main>
      <div class="login">
        <h1>Faça login para continuar</h1>  
        <form method="post">
          <input type="text" placeholder="name">
          <input type="password" placeholder="password">
          <input class="botao" type="submit" value="hello">
        </form>
      </div>

  </div>
  </main>

  <footer>
    <nav>
      <ul>
        <div class="albums">
          <li style="background-image: url(adele\ album21.jpg);"></li>
          <li style="background-image: url(adele\ album\ 25.jpg);"></li>
          <li style="background-image: url(adele\ album\ 30.jpg);"></li>
        </div>
        <p></p>

      </ul>
    </nav>
    <h3></h3>
  </footer>
  </div>

</body>

</html>