<!-- Componente de Header com Navbar -->
<header>
    <div class="logo"> </div>
    <h1>PEDRO DE MORAES VICTOR</h1>
    <nav>
        <ul>
            <li>S.E.D</li>
            <li>Comunidade</li>
            <% if (session) { %>
                <li>Meu Perfil</li>
                <% } else {%>
                    <li><a href="/logup">Login</a></li>
                    <% } %>
        </ul>
    </nav>
</header>