<!-- Componente do formulário de login -->
<!-- Se quiser mexer na tela de login mexa apenas nesse componente -->

<link rel="stylesheet" href="/styles/style.css">
<div class="login">
    <h1>Login</h1>  
    <form method="post" action="/logup">
      <input type="text" placeholder="Insira seu nome de usuário"
      name="identifier">
      <input type="password" placeholder="Insira sua senha" 
      name="password">
      <input class="botao" type="submit" value="Login">
    </form>
    <button><a href="/signup" class="botao">Cadastre-se</a></button>
</div>